<template>
  <div id="vinput">
    <input  :type="type" 
            v-model="value" 
            :style="this.state.style || this.state.validStyle" 
            :class="this.state.className || this.state.validClassName"
            @input="onChange($event)" />
  </div>
</template>

<script>
  import {AbstractValidator} from 'reval-core';

  export default {
    beforeMount: function() {
      this.inputValidators = (new AbstractValidator()).getValidators(this.type);
      this.state = {...this.inputValidators.preValidator.getProperties(this._props)};
    },
    props: ['type', 'errorStyle', 'validStyle', 'mode', 
              'validate', 'adSet', 'length'],
    data: function() {
      return {
            value: '',
      }
    },
    methods: {
      onChange: function(event) {
        let newValue = event.target.value;
        let validObj = this.inputValidators.validator.validation(this.state, newValue);

         let changeData = {
             value: newValue,
             style: this.state.validStyle,
             className: this.state.validClassName
        }
        
        if (!validObj.isValid) {
          changeData = this.inputValidators.postValidator.doAction(changeData, this.state);
        }
        
        this.value = changeData.value;
        this.state = {...this.state, ...changeData};
      }
    }
}
</script>